#BetterNavigator {display: none;}

.featurette-divider {
    margin: 5rem 0;
}
img {
    max-width: 100%;
}
.hero {
    background: #000 url(../images/zigzag.gif) repeat 0 0;
}
.hero__body {
    color: #fff;
    padding: 10%;
}
.sec {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: $highlight;
    letter-spacing: 1px;
    margin-bottom: 1em;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}


.main-carousel {
    margin-bottom: -50px;
}
.main-carousel .carousel-cell {
    width: 550px;
    margin-right: 20px;
    & img {
        width: 100%;
    }
}
.main-carousel .flickity-page-dots {
    background: #fff;
    bottom: 0;
    width: 50%;
    right: 0;
    text-align: left;
    padding: 17px;
}


// Competencies
.competencies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__card {
        width: 100%;
        margin: 1%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
        transition: box-shadow 0.3s ease-in-out;
        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
        }
        @include media-breakpoint-up(sm) {
            width: 48%;
        }
        @include media-breakpoint-up(md) {
            width: 31%;
        }
        @include media-breakpoint-up(lg) {
            width: 23%;
        }
    }
}

.card-body img {
    background-color: $black;
    padding: 8px;
    border-radius: 7px;
}
.competencies .card-footer a {
    color: $black;
}
.competencies .card-title a {
    color: $black;
    text-decoration: underline;
}

// Testimonials
.profile {
    background: $black url(../images/zigzag.gif) repeat top left;
    color: #fff;
    padding: 2em 0;
    &__img {
        padding: 1em;
        @include media-breakpoint-up(lg) {
            margin-left: -10%;
            padding: 0;
        }
    }
    @include media-breakpoint-up(lg) {
        padding: 6em 0;
    }
}
.profile__blockquote {
    padding: 1em 2em 1em;
    & p {
        font-size: 20px;
        font-weight: 300;
        quotes: "“" "”" "‘" "’";
        &:before {
            content: open-quote;
            font-size: 300px;
            position: absolute;
            top: -20px;
            left: -20px;
            line-height: 1;
            opacity: .2;
        }
        @include media-breakpoint-up(lg) {
            font-size: 30px;
        }
    }
    & footer {
        color: $highlight;
    }
}
.test .carousel-cell {
    width: 100%;
}


// Ways to Enage
.vd-bg::before,
.vd-bg::after {
    @include media-breakpoint-down(md) {
        display: none;
    }
}
.vd-bg::before {
    content: '';
    background: $black;
    position: absolute;
    left: -2%;
    top: -6%;
    width: 90%;
    height: 100%;
    z-index: -1;
}
.order-md-1 .vd-bg::before {
    bottom: -3%;
    right: -3%;
    left: auto;
    top: auto;
}
.vd-bg::after {
    content: '';
    background: $highlight;
    position: absolute;
    bottom: -2%;
    right: -2%;
    width: 190px;
    height: 50%;
    z-index: -1;
}
.order-md-1 .vd-bg::after {
    left: -2%;
    top: -6%;
    bottom: auto;
    right: auto;
}
.engage {
    &__content p {
        font-size: $font-size-base * 1.25;
        font-weight: 300;
    }
    &__content ul {
        list-style: none;
        margin: 0;
        padding: 0;
        & li {
            border-top: 1px solid #ddd;
            padding: 12px 20px;
        }
    }
}
