// Header ============================================================
.header {
    //padding: $column-gutter/2;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin: 0;
    @media #{$large-up} {
        margin: 1em 0;
    }
    @media #{$xlarge-up} {
        padding: 0;
    }
}

.header .logo {
    padding: 10px 0;
    @media #{$medium-up} {
        display: block;
        width: 30%;
    }
    @media #{$large-up} {
        float: left;
        width: 20%;
       
    }
}

.HomePage .header .logo {
    @media #{$large-up} {
        float: none;
        width: 100%;
        padding-right: 10px;
    }
}

.HomePage {
    .orbit-container .orbit-slides-container>* .orbit-caption {
        padding-left: 0;
    }
}

.home-quicklinks .quicklinks-title span{
	color: #939393;
}


.home-quicklinks {
    margin: 0.5em 0 0;
    @media #{$large-up} {
        margin: 2em 0 0;
    }
}
// Navigation ========================================================

.main-nav {
    background-color: #222;
    border-radius: 4px;
    list-style: none;
    //margin: 0;
    //padding: 0;
    @media #{$large-up} {
        background-color: transparent;
        //margin: 3em 0 .5em;
        float: right;
        width: 75%;
        margin-top: 1.5em;
    }
    @media #{$xlarge-up} {
        
    }
    & li {
        @media #{$large-up} {
            float: left;
        }
    }
    & a {
        border-radius: 4px;
        color: #fff;
        display: block;
        font-family: $header-font-family;
        letter-spacing: 1px;
        padding: 10px 10px;
        &:hover, &.focus {
            background-color: rgba(255, 255, 255, 0.2);
        }
        @media #{$large-up} {
            font-size: rem-calc(17);
            font-weight: 600;
            letter-spacing: 1px;
            padding: 5px 9px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        }
        @media #{$xlarge-up} {
            font-size: rem-calc(21);
            padding: 5px 22px;
        }
    }
}

.HomePage .main-nav {
    margin: 0;
}

a {
    color: #777F7B;
}

.main-nav a:hover {
    color: #D4E3F9;
}

.main-nav li.active a {
    color: #D4E3F9;
}

.content-right {
    .upcoming-lectures h3{
        margin-bottom: 0;
    }
}

/* Lecture Holder Page */

.LectureHolderPage{
     .main{
        background-color: #333;

        .main-content{
            background: #333;
        }

        hr{
            border-color: #666;
        }
    }
 
    h1.section-title{
        text-align: center;
    }
}

.lecture-card {
  	h1{
  		margin-top: 0em;
  	}


    background: white;
    border: none;
}

ul.lecture-details {
        list-style: none;
        margin: 0;
    }

.lecture-card:hover{
	background: #eff3f9;
}

.lecture-card-link:hover {
    text-decoration: none;
	*{
		
	}
}

#upcoming-lectures {
     @media #{$large-up} {
        padding-bottom: 10px;
        margin-top: $column-gutter/2;
     }
    article.lecture-card {
        background: #333;
        color: white;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 0;
        padding-top: 20px;

        @media #{$xlarge-up} {
            padding-left: 0;
            padding-right: 0;
        }

        img{
            width: 100%;
            @media #{$xlarge-up} {
              /*  max-width: 400px;
                float: right;
                padding: 1em;*/
            }
        }

        a{
            color: #B8C9E2;
        }

        .lecture-card-details{
            float: left;
        }
    }

    h1,h2,h3 {
        color: white;
    }

    h4 > a {
        color: #000;
        line-height: 1px;
    }
    ul {
        list-style: none;
        list-style-position: outside;
        li {}
    }
}

.previous-lectures-container{
    background: white;
}

#previous-lectures {
    padding: $column-gutter/2;
    padding-top: 1em;
    background: white;
    max-width: 1600px;
    margin: auto;

    .no-upcoming-content{
        text-align: center;
    }

	article.lecture-card {
		padding: 0;
		margin: 0;
		@include panel(
		    $bg: white,
		    $padding: 0
	  	);
        h1{
            text-align: left;
            margin-top: 0.5em;
            font-size: 2.3em;
        }
	  	border: 0;
	}
    .curPage {
        background: #D4E3F9;
    }
    ul.pagination {
        margin: 1em 0;
        li {
            //margin-left: .375rem;
       
        }
    }
}

/* Single Lecture Page */

.lecture-single img {
    @media #{$large-up} {
        max-width: 400px;
        float: right;
        padding: 1em;
    }
}

/* Page footer */

.LectureHolderPage .social-blog{
    background: #F4F4F4;
    border-top: 1px solid #e4e4e4;

    .fb-like-box{
        border-top: none;
    }
}

.social-blog{
	border-top: none;

    .fb-like-box{
        border-top: 1px solid #e4e4e4;
    }
    .facebook-container{
        background-color: #e4e4e4;
    }
}