/*-------------------------------------------
    Media Queries
-------------------------------------------*/
.footer {
    font-size: $font-size-sm;
	&__logo {
        display:block;
		max-width: 300px;
    }
    &__heading {
		font-size: $font-size-base;
	}
	&__buttons .btn {
		font-size: $font-size-sm;
	}
	&__socialmedia {
        & .fab {
            color: $highlight;
        }
		& li a {
			color: $gray-100;
			display: block;
			&:hover, &:focus {
                color: #fff;
                & .fab {
                    color: $gray-100;
                }
			}
		}
	}
    &__disclaimer {
        font-size: $font-size-base * .775;
    }
    &__md {
        max-width: 36px;
    }
}



