/* buttons and tags */

@mixin buttonGradient($color, $second-color){

    -webkit-transition: all 1s ease-out;  
    -moz-transition: all 1s ease-out;  
    -o-transition: all 1s ease-out;  
    transition: all 1s ease-out; 

	//@include linear-gradient(45deg, $color 0%, darken($color, 7) 50%, lighten($color, 3)  50.01%, lighten($color, 30));
	//@include linear-gradient(45deg, $color 0%, darken($color, 7) 50%, darken($color, 3)  50.01%, lighten($color, 20));
	@include linear-gradient(45deg, $color 25%, lighten($second-color, 10) 60%);
	&:hover{
		@include linear-gradient(45deg, darken($color, 10) 25%, darken($second-color, 10) 60%);
  }
}

.button.facebook{
  @include buttonGradient($blue, lighten($blue, 10));
}

.button.twitter{
  
  @include buttonGradient(#5AAEEC, #5AAEEC);
}

.button, button{
	@include buttonGradient($primary-color, $secondary-color);
}

.button.success, button.success{
	@include buttonGradient($success-color, $success-color);
}

.button.darkGray, button.darkGray{
  @include buttonGradient(#666, #333);
  color: white;
}

input[type="submit"]{
  @extend .button;
}
