/*-------------------------------------------
    Bootstrap Configuration
    variables are in node_modules/bootstrap/scss/_variables.scss
-------------------------------------------*/

// Color system
$gold: #ffcd00;
$highlight: $gold;
$blue: #4571b6;
$teal: #88d8d2;
$orange: #ff8a5c;
$green: #33aa6d;
$yellow: $gold;
$body-bg: #f8f9fa;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #151515 !default;
$black:    #000 !default;


$primary:       $blue !default;
$secondary:     $gray-600 !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// Card
$card-border-radius: 1;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
);


// Fonts
$enable-responsive-font-sizes: true;
$font-family-base: Roboto, sans-serif;
$headings-font-family: Roboto Condensed, sans-serif;
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;
$headings-font-weight: 600;


// Jumbotron
$jumbotron-padding: 6rem;
$jumbotron-color: #333;
$jumbotron-bg: #f6f9fc;

// Spacing
$spacer: 1rem;
$spacers: (
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 9),
  9: ($spacer * 12)
);

// Border
$border-radius:     .20rem;
$border-radius-lg:  .25rem;
$border-radius-sm:  .15rem;
