.photo_gallery img{
	width: 50px !important;
	height: 50px !important;
}

ul.social {
	
	margin-top: 10px;
	
}

.fb-like {
	width: 100px;
	
}

.nav {
	margin: -10 auto auto !important;
	
}

.photo_gallery ul li {
	width: 50px;
	height: 50px;
	float: left;
}

.extras {
	margin: 0 !important;
}

.section h4{
	margin-top: 0 !important;
	
}

#parallax-stuff {
display: none;	
	
}

footer {
	
background-color: #436361 !important;

}

.countdownHolder {

display: none;

}
/*
#foot-container {
height: 1000px !important;
}
*/

.twitter {
	display: none;
}

.twitter-timeline {
	margin: auto;
}